
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_layout</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
</head>
<body>
    <div>
        <div class="container">
            <p>vällkomen!</p>
            <a href="About">About</a>
            <a href="Index">Home</a>
            <a href="Contacts">Contacts</a>
            @RenderBody()
        </div>
    </div>
</body>
</html>
