@{
    Layout = "~/Views/Shared/_layout.cshtml";
}

<h2>Om mig:</h2>
<a class="btn btn-info" role="button">Educatuation</a>
<a class="btn btn-info" role="button">Exprience</a>
<a class="btn btn-info" role="button">Knowlege</a>

<div>
    <br />
    <p id="Text" style="font-size:150%">Tryck på en knapp för att få reda på mer om Daniel Svanberg</p>
</div>
<div>
    <ul>

        @foreach (var item in Info)
            {
            <li>@item.Title | @item.Description | @item.Period</li>
        }
    </ul>
</div>
