
@{
    Layout = "~/Views/Shared/_layout.cshtml";
}

<h2>Om mig:</h2>

<a href="Index" class="btn btn-info" role="button">Home</a>
<a href="About" class="btn btn-info" role="button">About</a>
<a href="Contacts" class="btn btn-info" role="button">Contact</a>

